.header_area {
    display: flex;
    align-items: center;
    text-align: center;
    height: 4vh;
    width: 100vw;
    background-color: rgb(224, 224, 224);

    .header_title{
        font-size: 1.5rem;
        margin: 10px;
    }
}